@media only screen and (max-width: 320px) {
  .app-info {
    height: 718px;
    background-image: url("../img/0320px/header-background.png");
  }
}

@media only screen and (max-width: 480px) {
.app-info {
  height: 834px;
  background-image: url("../img/0480px/header-background.png");
}
}

@media only screen and (min-width: 1200px) {
  .section-comments__summary {
    display: block;
  }
}